/* Reset */

:root {
  /* Light Mode Colors */
  --bg-main: white;
  --bg-sidebar: #f1f5fb;
  --bg-content: #f1f5fb;
  --bg-box: white;
  --text-main: #000000;
  --text-sub: gray;
  --txn-row: #eef1f7;
  --border: #eee;
  --bg-income: #43e988;
  --bg-expense: #ff6363;
}

/* Dark Mode Overrides */
.dark {
  --bg-main: #0f172a; /* Deep dark blue/black */
  --bg-sidebar: #1e293b; /* Slightly lighter dark */
  --bg-content: #0f172a;
  --bg-box: #1e293b;
  --text-main: #f8fafc; /* Off-white */
  --text-sub: #94a3b8; /* Muted blue-gray */
  --txn-row: #334155; /* Dark row background */
  --border: #334155;
  --bg-income: #206c40;
  --bg-expense: #853131;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

/* Container */
.container {
  display: flex;
  background: var(--bg-main);
  height: 100vh;
  overflow: hidden;
  color: var(--text-main);
}

/* Sidebar */
.sidebar {
  background: #f1f5fb;
  border-radius: 20px;
  margin: 20px;
  padding: 20px 10px;
  color: black;
}

.menu {
  width: 160px;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  justify-content: flex-start;
  gap: 20px;
  height: 100vh;
  transition: width 0.3s ease;
}

.hidden {
  width: 55px;
  align-items: center;
}

.menu .menu-bar-btn {
  border: none;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition:
    background-color 0.4s ease,
    transform 0.3s ease;
}

.menu-item-logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: white;
  padding: 8px;
  transition:
    background-color 0.3s ease,
    scale 0.2s ease;
  color: #0f172a;
}

.menu-item.active {
  background-color: #2d5bff;
}

.active .menu-item-logo {
  background-color: #2d5bff;
}

.menu-item-logo:hover {
  scale: 1.2;
}

.menu-item-text {
  font-size: 18px;
  margin-bottom: 8px;
}

.logout-menu-item {
  position: absolute;
  bottom: 32px;
}

/*/////////////////////*/
/* Header */
.logo {
  padding: 12px;
  background-color: #f1f5fb;
  font-size: 28px;
  border-radius: 35%;
  color: #0f172a;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  gap: 20px;
}

.header p {
  color: gray;
}

.username {
  margin-right: auto;
}
.dark-mode,
.msg,
.search {
  flex-shrink: 0; /* Important: Prevents circles from becoming ovals */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

/* Main Dashboard Page*/
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1400px;
}

.content {
  display: flex;
  gap: 20px;
  background-color: #f1f5fb;
  padding: 32px;
  border-radius: 20px;
  overflow-y: auto;
}

.left-panel {
  flex: 2;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: white;
  padding: 20px;
  /* max-width: 300px; */
  border-radius: 20px;
  height: fit-content;
  transition: all ease-in-out 0.5s;
}

.income:hover,
.expense:hover {
  scale: 1.05;
  background: #0921fee4;
  color: white;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

.price span {
  font-size: 12px;
  font-weight: 100;
}

.box input[type="range"] {
  -webkit-appearance: none;
  background: rgb(193, 193, 193);
  border-radius: 20px;
  accent-color: #6774ed;
}

.income {
  background-color: var(--bg-income);
}

.expense {
  background-color: var(--bg-expense);
}

.balance-chart {
  width: 840px;
}

.chart {
  background: var(--bg-box) !important;
  color: var(--text-main);
  border-radius: 20px;
  padding: 15px;
  height: auto;
}

.insights {
  background: var(--bg-box) !important;
  border-radius: 20px;
  padding: 15px;
  line-height: 1.8;
  color: var(--text-main);
}

/* Add Transaction Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px); /* 🔥 blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal box */
.modal {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Inputs */
.modal input,
.modal select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Buttons */
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.modal-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal-actions button:first-child {
  background: #0923fd;
  color: white;
}

.cancel {
  background: #eee;
}

.add-btn {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background: #0923fd;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn {
  padding: 6px 12px;
  border: none;
  background: #ff4d4d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.delete-btn:hover {
  background: #e60000;
}

.no-data {
  text-align: center;
  padding: 50px 20px;
  color: gray;
}

.no-data h3 {
  margin-bottom: 10px;
  color: #333;
}

/* Transactions */

.transactions-page {
  background: var(--bg-box);
  padding: 25px;
  border-radius: 20px;
  flex: 1;
  height: fit-content;
  color: black;
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: var(--text-main);
}

.transactions-header h3 {
  font-size: 22px;
  margin-right: auto;
}

.transactions-header select {
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
}

.txn {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.txn-row {
  display: grid;
  gap: 10px;

  align-items: center;
  background: #eef1f7;
  padding: 15px 20px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.admin-cols {
  grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
}
.user-cols {
  grid-template-columns: 2fr 1.5fr 1fr 1fr;
}

.btn {
  background-color: #2d5bff;
  color: white;
  padding: 8px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.btn:hover {
  background-color: #5378ff;
  scale: 1.08;
}

/* Left Section */
.txn-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.txn-icon {
  width: 40px;
  height: 40px;
  background: #aeaeaec4;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}

.txn-title {
  font-weight: 500;
}

.txn-sub {
  font-size: 12px;
  color: gray;
}

.txn-date p {
  font-weight: 500;
}

.txn-date span {
  font-size: 12px;
  color: gray;
}

.txn-amount {
  font-weight: 600;
}

.txn-status {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  width: fit-content;
}

.txn-action {
  display: flex;
  justify-content: center;
}

#sortTransactions,
#filterTransactions,
#selectAllTransactions,
#deleteAllTransactions {
  margin: 6px;
  background-color: #d9e1fd;
  padding: 6px;
  border-radius: 12px;
  border: none;
}

#deleteAllTransactions {
  background-color: red;
}

#filterTransactions {
  margin-right: 8px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
