/* Laptop & Smaller Desktop (1024px and down) */
@media (max-width: 1390px) {
  .left-panel {
    width: 400px;
  }

  .balance-chart {
    width: auto;
  }
}

/* Tablet & Smaller Laptop (1024px and down) */
@media (max-width: 1024px) {
  .left-panel {
    width: auto;
  }
  .content {
    flex-direction: column;
  }

  .balance-chart {
    width: 100%;
  }

  .main {
    overflow-y: auto;
  }
}

/* Tablet & Smaller Desktop (1024px and down) */
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    padding: 20px;
  }

  .balance-chart {
    width: 100% !important;
    height: auto;
  }

  .main {
    overflow-y: auto;
  }
  .transactions-header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  input[name="search-bar"] {
    width: 150px;
  }
}

/* Mobile Devices (768px and down) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    overflow: visible;
  }

  .header {
    display: flex;
  }

  .username {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }

  .sidebar {
    margin: 10px;
    width: auto;
    border-radius: 15px;
  }

  .menu {
    width: 100%;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    padding: 10px 0;
  }

  .menu-item-text,
  .logo,
  .logout-menu-item {
    display: none;
  }

  .transactions-page {
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 0.8rem;
  }

  input[name="search-bar"] {
    margin-left: 4px;
    width: 90px;
  }
}

@media (max-width: 586px) {
  .transactions-header {
    grid-template-columns: 1fr 1fr;
  }

  input[name="search-bar"] {
    width: 200px;
    grid-column: 2;
    grid-row: 1;
  }

  .controls {
    grid-column: 1/3;
  }

  .txn-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 490px) {
  input[name="search-bar"] {
    width: 150px;
  }
}

@media (max-width: 390px) {
  .main {
    margin: 0;
    padding: 2px;
  }
  .header {
    padding: 4px;
  }
  .txn-row {
    grid-template-columns: 1fr 1fr;
  }

  .txn-action {
    grid-row: 2;
    grid-column: 2;
  }

  input[name="search-bar"] {
    width: 90px;
  }
  .dark-mode {
    width: 30px;
    height: 30px;
  }
  .menu-item {
    flex-direction: column;
  }

  .menu-item.active {
    background-color: #f1f5fb;
  }

  .box.income {
    width: 0.2px;
  }

  .price {
    font-size: 24px;
  }
  .box.expense {
    width: 0.2px;
  }
}
